body {
  font-family: "Georgia", serif;
  background-color: #000000;
	margin: 0px;
	padding: 0px;
}

nav {
  background-color: #000000;
  overflow: hidden;
  justify-content: center;
}

nav a {
  float: left;
  color: #d4d4d4;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 20px;
}

h1 {
	color: #d4d4d4;
	padding: 20px;
}

a:hover {
  color: #7c5e7b;
  transition-duration: 0.5s;
  
}